<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="turtlebot3">
    
    <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_links.xacro"/>
    <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_joints.xacro"/>
    <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_gazebo.xacro"/>
    
    
</robot>